name: Build JAR
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - run: ./gradlew shadowJar
      - uses: actions/upload-artifact@v3
        with:
          name: maxshield-3.2
          path: build/libs/maxshield-3.2.jar
